:root{
    --color-bg: #EF735A;
    --color-shadow: #211842;
    --color-blue: #384969;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--color-shadow);
    font-family: cursive;
}

h1{
    margin: 0;
    font-size: 26px;
    margin: 5px 15px;
}

.header{
    background-color: var(--color-blue);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
    color: var(--color-bg);
}

nav{
   margin-right:15px;
}

#profile, #logout, #statistics, #users {
    border: 2px solid var(--color-bg);
    color: var(--color-bg);
    background: white;
    border-radius: 25px;
    font-size: 16px;
    width: 125px;
    padding: 5px 10px;
    margin-top: 6px;
    margin-left: 5px;
    cursor: pointer;
    font-family: Roboto;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

#profile:hover, #logout:hover, #statistics:hover, #users:hover {
    color: white;
    background: var(--color-bg);
}

#hidden_div {
    display: none;
}

.create-invitation-heading{
    text-align: center;
    font-size: 21px;
    font-family: Roboto;
    border-bottom: 1px solid #cfcece;
    color: var(--color-bg);
}


label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 7px;
    color: var(--color-bg);
}

input{
    width: 250px;
    margin-left: 7px;
    border: 1px solid var(--color-bg);
}

#submit, #delete-button{
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: var(--color-bg);
    border-radius: 25px;
    font-size: 16px;
    width: 150px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: cursive;
    border: none;
    color: white;
    
}

.accept-button, .decline-button{
    display: block;
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
    margin-top: 20px;
    margin-bottom: 10px;
    background: var(--color-bg);
    border-radius: 25px;
    font-size: 16px;
    width: 150px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: cursive;
    border: none;
    color: white;
}

#submit:hover, #delete-button:hover, .accept-button:hover, .decline-button:hover{
    font-weight: bold;
}

#privacy{
    width: 258px;
    height: 22px;
    margin-left: 7px;
    border: 1px solid color:var(--color-bg);
}

#occasionDate{
    width: 253px;
    height: 20px;
}

#create-invitation{
    border: none;
    border-radius: 25px;
    width: 270px;
    padding: 10px 10px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: white;
    float: left; 
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

#create-invitation header{
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid color:var(--color-bg);
    font-size: 20px;
    color: var(--color-bg);
}

.list-of-invitations{
    display: block;
}

.header-paragraph{
   font-size: 26px;
   color: var(--color-bg);
}

.list-of-invitations article{
    background: white;
    width: 35%;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 50px auto;
}

.list-of-invitations article:hover{
    box-shadow: 15px 15px 30px color:var(--color-bg),
                -15px -15px 30px color:var(--color-bg);
    transition: all 500ms ease;
}

.list-of-invitations p{
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    color: var(--color-bg);
    text-align: center;
}

.prop-1{
    border-bottom: 1px solid;
    color:var(--color-bg);
    padding-bottom: 5px;
}

#find-alumnis{
    margin-top: 30px;
}

#find-alumnis button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: var(--color-bg);
    border-radius: 25px;
    font-size: 16px;
    width: 250px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: cursive;
    border: none;
    color: white;
 }

#find-alumnis button:hover{
    font-weight: bold;
}

#find-alumnis #map{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    border-radius: 15px;
}

#nearby-alumnis{
    margin-top: 30px;
}

#nearby-alumnis article{
    display: inline-block;
    width: 23%;  
    border-bottom: 1px solid color:var(--color-bg);
}

#nearby-alumnis p{
    display: inline-block;
    margin-right: 10px;
    color: var(--color-bg);
}

.column-left{
    float: left;
    width: 25%;
}

.column-middle{
    float: left;
    width: 50%;
}

.columnd-right{
    float: right;
    width: 25%;
}

#three-columns:after {
    content: "";
    display: table;
    clear: both;
}

.marker-index{
    color: rgb(43, 105, 71) !important;
}

@media screen and (max-width: 900px) {
    #profile, #logout, #users, #statistics{
        border: none;
        width: 105px;
        margin-left: -5px;
    }
}

@media screen and (max-width: 435px) {
    nav{
        margin-right: 0px;
    }

    #delete-button, .accept-button, .decline-button{
        width: 80px;
    }
}

@media screen and (max-width: 335px) {
    #profile, #logout, #users, #statistics{
        font-size: 14px;
        padding: 0px;
    }

    nav{
        margin-right: 0px;
    }

    .list-of-invitations p{
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}


.error > small {
    color: red;
}

.success > small {
    color: green;
}