<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Алумни клуб</title>
    <script defer src="home.js"></script>
    <link rel="stylesheet" href="./home.css" />
</head>

<body>
    <header class="header">
        <nav class="buttons-left">
            <button id="statistics">Статистика</button>
            <button id="users">Потребители</button>
            <button id="profile">Профил</button>
            
        </nav>
        <h1 class="alumni-header">Алумни клуб</h1>
        <nav class="buttons-right">  
            <button id="logout">Изход</button>
        </nav>
    </header>

    <main>
        <section id="three-columns">
            <section id="create-invitation" class="column-left">
                   <h1 class="create-invitation-heading">Създаване на покана</h1> 
                <form id="create-invitation-form">
                    <!-- Here we will add the validation errors that we found -->
                    <label id="errors"></label>

                    <label for="occasion">Събитие</label>
                    <input id="occasion" name="occasion" type="text" />
                    
                    <label for="location">Място</label>
                    <input id="location" name="location" type="text" />

                    <label for="privacy">Изпрати до:</label>
                    <select id="privacy" name="privacy" onchange="showDiv('hidden_div', this)">
                        <option value="all">Всички</option>
                        <option value="group">Група</option>
                        <option value="speciality">Специалност</option>
                        <option value="faculty">Факултет</option>
                        <option value="1">Потребителско име</option>
                        <option value="1">Факултетен номер</option>
                        
                    </select>

                    <label for="occasionDate">Дата</label>
                    <input id="occasionDate" name="occasionDate" type="datetime-local" />

                    <label for="content">Съдържание</label>
                    <input id="content" name="content" type="text" />

                    <small></small>
                    <button id="submit" type="submit">Създай покана</button>
                </form>
            </section>

            <section id="find-alumnis" class="column-middle">
                <button id="button-find-alumnis" onclick="getLocation()">Открий алумни наблизо</button>

                <p id="demo"></p>
                <p id="map" style="width:350px;height:300px;"></p>

                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCoz_XLjdVs9EX8VHBxO3YEPiiWMznKi8&callback=initMap&libraries=places&v=weekly"
                    async></script>
            </section>

            <section id="nearby-alumnis" class="column-right">
                <header>
                    <p class="header-paragraph">Алумни наблизо</p>
                </header>
            </section>
        </section>

        <section id="list-of-invitations" class="list-of-invitations">
            <header>
                <p class="header-paragraph">Списък с покани</p>
            </header>
        </section>

    </main>
</body>

</html>
